%TMPL:DEF{"classic"}%
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure
dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil
imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor
sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore
dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore
Stet clita ea et gubergren, kasd magna no rebum. Sanctus sea sed takimata ut
vero voluptua. Est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
et dolore magna aliquyam erat. Consetetur sadipscing elitr, sed diam nonumy
eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
sea takimata sanctus est Lorem ipsum dolor sit amet.
%TMPL:END%

%TMPL:DEF{"buzzwords"}%
Going forward, our best-of-breed brand will deliver value to low hanging fruit.
We aim to conservatively virtualise our stakeholder by ethically synergising
our seamless mission critical platforms. Our business transforms prince
practitioners to proactively and effectively engineer our end-to-end ballpark
figure. Dynamically strategizing globally value-added emerging markets is
crucial to our company-wide core asset.

Key players will take ownership of their paradigm shifts by iteratively
revolutionizing actionable standpoints. World-class core competencies are
becoming competitive step-change experts. We use our innovative industry
leaders to virtually manage our vertical expectations. Reliably aligning
strategically long-term propositions is crucial to our next-generation
dot-bomb.

We thrive because of our customer-focused milestone and corporate market focus
culture. You need to intelligently monetize your enterprises to increase your
big data velocity. Our capability development lifecycle enables mobile,
knowledge transfer standard setters. Proactive user experiences iteratively
enable unparalleled enterprises for our drivers.

Efficiencies will come from strategically leveraging our agile workflows. Going
forward, our holistic bandwidth will deliver value to action points. Change the
way you do business - adopt wholesale organic growths. So we can hit the ground
running, we will be dynamically calibrating every best practice in our space.
%TMPL:END%

%TMPL:DEF{"cicero"}%
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio
dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
nihil impedit quo minus id quod maxime placeat facere
%TMPL:END%

%TMPL:DEF{"kafka"}%
One morning, when Gregor Samsa woke from troubled dreams, he found himself
transformed in his bed into a horrible vermin. He lay on his armour-like back,
and if he lifted his head a little he could see his brown belly, slightly domed
and divided by arches into stiff sections. The bedding was hardly able to cover
it and seemed ready to slide off any moment. His many legs, pitifully thin
compared with the size of the rest of him, waved about helplessly as he looked.
"What's happened to me?" he thought. It wasn't a dream. His room, a proper
human room although a little too small, lay peacefully between its four
familiar walls. A collection of textile samples lay spread out on the table -
Samsa was a travelling salesman - and above it there hung a picture that he had
recently cut out of an illustrated magazine and housed in a nice, gilded frame.
It showed a lady fitted out with a fur hat and fur boa who sat upright, raising
a heavy fur muff that covered the whole of her lower arm towards the viewer.
Gregor then turned to look out the window at the dull weather. Drops of rain
could be heard hitting the pane, which made him feel quite sad. "How about if I
sleep a little bit longer and forget all this nonsense", he thought, but that
was something he was unable to do because he was used to sleeping on his right,
and in his present state couldn't get into that position. However hard he threw
himself onto his right, he always rolled back to where he was. He must have
tried it a hundred times, shut his eyes so that he wouldn't have to look at the
floundering legs, and only stopped when he began to feel a mild, dull pain
there that he had never felt before. "Oh, God", he thought, "what a strenuous
career it is that I've chosen! Travelling day in and day out. Doing business
like this takes much more effort than doing your own business at home, and on
top of that there's the curse of travelling, worries about making train
connections, bad and irregular food, contact with different people all the time
so that you can never get to know anyone or become friendly with them. It can
all go to Hell!" He felt a slight itch up on his belly; pushed himself slowly
up on his back towards the headboard so that he could lift his head better;
found where the itch was, and saw that it was covered with lots of little white
spots which he didn't know what to make of; and when he tried to feel the place
with one of his legs he drew it quickly back because as soon as he touched it
he was overcome by a cold shudder. He slid back into his former position.
"Getting up early all the time", he thought, "it makes you stupid. You've got
to get enough sleep. Other travelling salesmen live a life of luxury. For
instance, whenever I go back to the guest house during the morning to copy out
the contract, these gentlemen are always still sitting there eating their
breakfasts. I ought to just try that with my boss; I'd get kicked out on the
spot. But who knows, maybe that would be the best thing for me. If I didn't
have my parents to think about I'd have given in my notice a long time ago, I'd
have gone up to the boss and told him just what I think, tell him everything I
would, let him know just what I feel. He'd fall right off his desk! And it's a
funny sort of business to be sitting up there at your desk, talking down at
your subordinates from up there, especially when you have to go right up close
because the boss is hard of hearing. Well, there's still some hope; once I've
got the money together to pay off my parents' debt to him - another five or six
years I suppose - that's definitely what I'll do. That's when I'll make the big
change. 
%TMPL:END%

%TMPL:DEF{"pulpfiction"}%
Normally, both your asses would be dead as fucking fried chicken, but you
happen to pull this shit while I'm in a transitional period so I don't wanna
kill you, I wanna help you. But I can't give you this case, it don't belong to
me. Besides, I've already been through too much shit this morning over this
case to hand it over to your dumb ass.

Well, the way they make shows is, they make one show. That show's called a
pilot. Then they show that show to the people who make shows, and on the
strength of that one show they decide if they're going to make more shows. Some
pilots get picked and become television programs. Some don't, become nothing.
She starred in one of the ones that became nothing.

The path of the righteous man is beset on all sides by the iniquities of the
selfish and the tyranny of evil men. Blessed is he who, in the name of charity
and good will, shepherds the weak through the valley of darkness, for he is
truly his brother's keeper and the finder of lost children. And I will strike
down upon thee with great vengeance and furious anger those who would attempt
to poison and destroy My brothers. And you will know My name is the Lord when I
lay My vengeance upon thee.

Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to
my shirt with my name printed on it? Do you see a little Asian child with a
blank expression on his face sitting outside on a mechanical helicopter that
shakes when you put quarters in it? No? Well, that's what you see at a toy
store. And you must think you're in a toy store, because you're here shopping
for an infant named Jeb.

Your bones don't break, mine do. That's clear. Your cells react to bacteria and
viruses differently than mine. You don't get sick, I do. That's also clear. But
for some reason, you and I react the exact same way to water. We swallow it too
fast, we choke. We get some in our lungs, we drown. However unreal it may seem,
we are connected, you and I. We're on the same curve, just on opposite ends.

Now that we know who you are, I know who I am. I'm not a mistake! It all makes
sense! In a comic, you know how you can tell who the arch-villain's going to
be? He's the exact opposite of the hero. And most times they're friends, like
you and me! I should've known way back when... You know why, David? Because of
the kids. They called me Mr Glass.

You think water moves fast? You should see ice. It moves like it has a mind.
Like it knows it killed the world once and got a taste for murder. After the
avalanche, it took us a week to climb out. Now, I don't know exactly when we
turned on each other, but I know that seven of us survived the slide... and
only five made it out. Now we took an oath, that I'm breaking now. We said we'd
say it was the snow that killed the other two, but it wasn't. Nature is lethal
but it doesn't hold a candle to man.

Look, just because I don't be givin' no man a foot massage don't make it right
for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the
way the nigger talks. Motherfucker do that shit to me, he better paralyze my
ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is
advertised as the most popular gun in American crime. Do you believe that shit?
It actually says that in the little book that comes with it: the most popular
gun in American crime. Like they're actually proud of that shit. 

My money's in that office, right? If she start giving me some bullshit about it
ain't there, and we got to go someplace else and get it, I'm gonna shoot you in
the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find
out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm
talking to you, motherfucker. You listen: we go in there, and that nigga
Winston or anybody else is in there, you the first motherfucker to get shot.
You understand?
%TMPL:END%

%TMPL:DEF{"office"}%
High-level. It just needs more cowbell. We just need to put these last issues
to bed get six alpha pups in here for a focus group, and UI. Shelfware
drop-dead date bake it in. Dog and pony show deliverables can you ballpark the
cost per unit for me, yet innovation is hot right now. The last person we
talked to said this would be ready anti-pattern, so take five, punch the tree,
and come back in here with a clear head. Get all your ducks in a row punter. We
need a paradigm shift we need to dialog around your choice of work attire, for
due diligence we need to socialize the comms with the wider stakeholder
community and it's a simple lift and shift job. Please use "solutionise"
instead of solution ideas! Criticality yet killing it collaboration through
advanced technlogy, collaboration through advanced technlogy but dogpile that
who's responsible for the ask for this request?. Market-facing quick-win. Not
the long pole in my tent helicopter view thinking outside the box, yet prairie
dogging, or dogpile that, or powerpoint Bunny. Locked and loaded can we take
this offline. Closer to the metal at the end of the day. Face time personal
development hit the ground running. Bake it in viral engagement, or red flag,
or turd polishing, nor we need a paradigm shift good optics. Herding cats I
just wanted to give you a heads-up, so waste of resources, and golden goose
come up with something buzzworthy innovation is hot right now yet t-shaped
individual. Critical mass draw a line in the sand, so waste of resources, or
cross functional teams enable out of the box brainstorming nor come up with
something buzzworthy, or hard stop. Translating our vision of having a market
leading platfrom. Usabiltiy beef up. Wiggle room staff engagement. Thinking
outside the box run it up the flagpole. Not a hill to die on screw the pooch,
for dog and pony show, for design thinking. 

Paddle on both sides usabiltiy, so pull in ten extra bodies to help roll the
tortoise, nor hammer out. Shoot me an email red flag upsell. Obviously
root-and-branch review, or strategic fit, yet drill down, nor if you want to
motivate these clowns, try less carrot and more stick, message the initiative
for rock Star/Ninja. We want to see more charts. Drink the Kool-aid usabiltiy,
yet organic growth, we don't want to boil the ocean and prethink, even dead
cats bounce. Accountable talk i also believe it's important for every member to
be involved and invested in our company and this is one way to do so and staff
engagement, translating our vision of having a market leading platfrom yet show
pony personal development. Hammer out time to open the kimono so can we take
this offline, yet not the long pole in my tent, so can I just chime in on that
one, for high turnaround rate criticality. Drink the Kool-aid UI we don't want
to boil the ocean, and we need more paper level the playing field. Where do we
stand on the latest client ask even dead cats bounce put a record on and see
who dances translating our vision of having a market leading platfrom killing
it, execute, nor cloud strategy. Loop back feature creep, so execute, or
criticality, for imagineer, yet viral engagement. Mobile friendly we need a
paradigm shift, so are there any leftovers in the kitchen? Who's responsible
for the ask for this request? Yet we need to dialog around your choice of work
attire, nor work flows. High touch client closing these latest prospects is
like putting socks on an octopus new economy, or even dead cats bounce, so
reach out t-shaped individual, for rock Star/Ninja. Face time get buy-in for
table the discussion, but strategic fit, and take five, punch the tree, and
come back in here with a clear head. Feature creep we need a paradigm shift
staff engagement, nor please advise soonest. We've got to manage that low
hanging fruit collaboration through advanced technlogy player-coach critical
mass out of scope wiggle room anti-pattern. Product management breakout
fastworks cloud strategy yet close the loop for prairie dogging this proposal
is a win-win situation which will cause a stellar paradigm shift, and produce a
multi-fold increase in deliverables we're ahead of the curve on that one.
Herding cats. Market-facing not a hill to die on or put a record on and see who
dances granularity. We need to socialize the comms with the wider stakeholder
community work nor we need distributors to evangelize the new line to local
markets what do you feel you would bring to the table if you were hired for
this position, but thought shower, but face time, or this is a no-brainer.
Touch base we're ahead of the curve on that one drink the Kool-aid, but
anti-pattern fire up your browser. 

The last person we talked to said this would be ready idea shower, or what's
the status on the deliverables for eow? So hit the ground running productize.
Re-inventing the wheel gain traction, or criticality cross sabers drop-dead
date get six alpha pups in here for a focus group. Put a record on and see who
dances pushback, so driving the initiative forward, not a hill to die on so
sacred cow. We need to future-proof this low-hanging fruit, so great plan! Let
me diarize this, and we can synchronise ourselves at a later timepoint.
Globalize. Anti-pattern UI. Criticality. We want to see more charts. Waste of
resources streamline out of scope, so quick-win or back to the drawing-board
good optics. Market-facing reach out, and programmatically. The last person
we talked to said this would be ready core competencies, and those options are
already baked in with this model imagineer, yet gain traction. Closing these
latest prospects is like putting socks on an octopus put in in a deck for our
standup today for we need to have a Come to Jesus meeting with Phil about his
attitude, or ultimate measure of success or organic growth shoot me an email so
one-sheet. Get all your ducks in a row wheelhouse, but core competencies. The
last person we talked to said this would be ready quick win, yet we are running
out of runway face time, nor work. Thinking outside the box bells and whistles,
so t-shaped individual, herding cats. UI we need a paradigm shift, and turd
polishing no scraps hit the floor. 
%TMPL:END%

%TMPL:DEF{"client"}%
The target audience is makes and famles aged zero and up we need more images of
groups of people having non-specific types of fun, or you might wanna give it
another shot. I think we need to start from scratch this red is too red. This
red is too red. Theres all this spanish text on my site this red is too red use
a kpop logo that's not a kpop logo! Ugh. We are a big name to have in your
portfolio. We have big contacts we will promote you we exceed the clients'
expectations use a kpop logo that's not a kpop logo! Ugh or the flier should
feel like a warm handshake. Can you use a high definition screenshot do less
with more but it looks a bit empty, try to make everything bigger, for mmm,
exactly like that, but different, or i was wondering if my cat could be placed
over the logo in the flyer and can you make the logo bigger yes bigger bigger
still the logo is too big or could you do an actual logo instead of a font. I
cant pay you will royalties in the company do instead of cash or other agencies
charge much lesser that's great, but can you make it work for ie to please yet
this looks perfect. Just Photoshop out the dog, add a baby, and make the
curtains blue. This red is too red I know somebody who can do this for a
reasonable cost, nor make it pop nor we are a startup, so I have an awesome
idea for a startup, i need you to build it for me. I cant pay you try a more
powerful colour something summery; colourful. Can you pimp this powerpoint,
need more geometry patterns thanks for taking the time to make the website, but
i already made it in wix but i love it, but can you invert all colors?. 

Concept is bang on, but can we look at a better execution I really like the
colour but can you change it try making it a bit less blah or I got your
invoice...it seems really high, why did you charge so much could you rotate the
picture to show the other side of the room? This looks perfect. Just Photoshop
out the dog, add a baby, and make the curtains blue, for something summery;
colourful. I think we need to start from scratch. There are more projects lined
up charge extra the next time can you please change the color theme of the
website to pink and purple? Make the logo a bit smaller because the logo is too
big can you link the icons to my social media accounts? Oh and please put
pictures of cats everywhere. I have printed it out, but the animated gif is not
moving mmm, exactly like that, but different I got your invoice...it seems
really high, why did you charge so much, and mmm, exactly like that, but
different so i cant pay you but needs to be sleeker, yet give us a
complimentary logo along with the website. We don't need a backup, it never
goes down! I really think this could go viral, yet thats not what i saw in my
head at all yet can you make the font bigger?. Can you make the font bigger?
i'll know it when i see it, or can you make the font bigger?. It looks a bit
empty, try to make everything bigger i'll know it when i see it and we have big
contacts we will promote you, for other agencies charge much lesser, or that
sandwich needs to be more playful. Something summery; colourful can you make it
pop. We are a big name to have in your portfolio use a kpop logo that's not a
kpop logo! Ugh yet can you make the logo bigger yes bigger bigger still the
logo is too big nor anyway, you are the designer, you know what to do, and make
it look like Apple, nor can you please change the color theme of the website to
pink and purple? Make the logo a bit smaller because the logo is too big can
you link the icons to my social media accounts? Oh and please put pictures of
cats everywhere could you rotate the picture to show the other side of the
room?. Can you pimp this powerpoint, need more geometry patterns make it pop
yet thats not what i saw in my head at all nor mmm, exactly like that, but
different. 

The website doesn't have the theme i was going for. Can you please change the
color theme of the website to pink and purple? Make the logo a bit smaller
because the logo is too big can you link the icons to my social media accounts?
oh and please put pictures of cats everywhere. Try making it a bit less blah
remember, everything is the same or better yet give us a complimentary logo
along with the website. Can you please change the color theme of the website to
pink and purple? Make the logo a bit smaller because the logo is too big can
you link the icons to my social media accounts? Oh and please put pictures of
cats everywhere will royalties in the company do instead of cash we don't need
a backup, it never goes down! Try a more powerful colour. We are a non-profit
organization i was wondering if my cat could be placed over the logo in the
flyer. Can you lower the price for the website? Make it high quality and please
use html can you make the font a bit bigger and change it to times new roman?
jazz it up a little bit make the picture of the cupcake look delicious make the
purple more well, purple-er it looks so empty add some more hearts can you add
a bit of pastel pink and baby blue because the purple alone looks too fancy
okay can you put a cute quote on the right side of the site? Oh no it looks
messed up! I think we need to start from scratch i love it, but can you invert
all colors? So I want you to take it to the next level i'll know it when i see
it. Something summery; colourful this was not according to brief, yet can we
try some other colours maybe use a kpop logo that's not a kpop logo! Ugh and
will royalties in the company do instead of cash yet we exceed the clients'
expectations. Make it look like Apple this is just a 5 minutes job I know
somebody who can do this for a reasonable cost can you rework to make the pizza
look more delicious make it pop. Make it look like Apple use a kpop logo that's
not a kpop logo! Ugh nor use a kpop logo that's not a kpop logo! Ugh can we try
some other colours maybe, yet can you help me out? You will get a lot of free
exposure doing this. Low resolution? It looks ok on my screen can you make it
stand out more? For can you make it look like this clipart i found. 
%TMPL:END%

%TMPL:DEF{"image::random"}%//loremflickr.com/$width/$height%TMPL:END%
%TMPL:DEF{"image::search"}%//loremflickr.com/$width/$height/$search%TMPL:END%
